/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/.vagrant
/auth_cred
/test
/public/css/app.*.css
/public/js/app.*.js
/public/mix-manifest.json
npm-debug.log
